exp_name: "SiT_turek_hron_data_fsi"
gpu: 0
seed: 0
results_path: "./results/"

# data
dataset_name: "turek_hron_data"
dataset_path: "/path/to/gencp_dataset/"
num_workers: 12
normalizer: "range"
n_data_set: null  # 限制使用的数据量，null表示使用全部数据
length: 999 # 1000
dt: 5
sdf_threshold: 0.04

# model
model_name: "CNO"
use_surrogate: True
fluid_checkpoint_path: /path/to/results/turek_hron_data/fluid_CNO_surrogate/checkpoint/model.pth
structure_checkpoint_path: /path/to/results/turek_hron_data/structure_CNO_surrogate/checkpoint/model.pth
stage: "couple" # fluid, structure, fsi, actually fsi here will not be used at all
use_torchcfm: False
use_diffusion: False
input_size: [108, 88] # [322, 226]
# fluid
in_dim_fluid: 5
out_dim_fluid: 3
in_size_fluid: 108
depth_fluid: 4 # 12 
channel_multiplier_fluid: 8
# structure
in_dim_structure: 7
out_dim_structure: 1
in_size_structure: 108
depth_structure: 2 # 12 
channel_multiplier_structure: 8

# inference
pred_update_coeff: 0.1
num_inference_steps: 100 # 3

debug_flow: false # 启用debug模式，保存每步可视化结果
use_coupled_sampling: True # 启用新的交替耦合采样方法 (1+1)×10

coupled: True # 是否用create_couple_step_fn做采样
flag: jacobi # [jacobi, lie, strang]

mode: "ODE" # SDE, ODE
# SDE参数设置
diffusion_coeff: 0.1          # 扩散系数强度 (调整随机性大小)
diffusion_form: "constant"    # 扩散形式: constant, decreasing, increasing
diffusion_norm: 1.0           # 扩散归一化系数
last_step: "euler"            # 最后一步采样方法: euler, deterministic
last_step_size: 0.04          # 最后一步的步长
sampling_method: "Euler"      # 采样方法: Euler, Heun

# training
is_use_tb: True
x0_is_use_noise: True
test_interval: 100
train_batch_size: 8
test_batch_size: 50

input_step: 3
output_step: 12
stride: 1
num_delta_t: 0 # 20

lr: 0.0005
sigma: 0.01

# iteration
train_mode: "iteration" # epoch, iteration
total_iterations: 10000
epochs: 1000

scheduler: "cosine"
# cosine
T_max: 10000
#step
step_size: 50
gamma: 0.5

# inference
num_sampling_steps: 10

# visualize
save_figs_path: "./visualization_results"